html{
  font-size: 67.5%;
}
main {
  max-width: 80rem;
  margin: auto;
  font-size: 1.6rem;
  padding: 0 2rem;
}
.checkbox-container {
    width: 120px;
    padding: 1rem 0.5rem;
    outline: 0.1rem solid rgb(0,0,0);
    background-color: rgb(240,240,240);
}
.checkbox-container li{
    list-style: none;
}
.boundary + label{
    font-weight: bold;
}
input:checked + label{
    color: rgb(66, 104, 244);
}
input[type="checkbox"]:not(:checked),
input[type="checkbox"]:not(:checked) + label,
input[type="checkbox"].boundary,
input[type="checkbox"].boundary + label{
    cursor: pointer
}
