ul {
    width: 120px;
    padding: 10px 5px;
    outline: 1px solid rgb(0,0,0);
    background-color: rgb(240,240,240);
}
ul li{
    list-style: none;
}
.boundary + label{
    font-weight: bold;
}
input:checked + label{
    color: rgb(66, 104, 244);
}
input[type="checkbox"]:not(:checked),
input[type="checkbox"]:not(:checked) + label,
input[type="checkbox"].boundary,
input[type="checkbox"].boundary + label{
    cursor: pointer
}
